<html><head><title>Schedule</title>
<style type="text/css">
table {
 
     border-collapse: collapse;
 
     font-family: Futura, Arial, sans-serif;
 
}
 
caption {
 
     font-size: larger;
 
     margin: 1em auto;
 
}
 
td {
 
    padding: .65em;

    border: 1px solid#777;
}
#dark1 {
    background: #c7c7c7;
}
#dark2 {
    background: #dbdbdb;
}
#week,#date {
   background: #555 ;
   border: 1px solid #777;
   color: #fff;
}
tr:first-child td:first-child {
    border-radius: 12px 0 0 0;
}
tr:first-child td:last-child {
    border-radius: 0 12px 0 0;
}
</style>
</head>
<body>
<div class="left">
<table  frame=box border=1 align=center   cellpadding=0 cellspacing=0 bordercolor=black>
<caption>第二周</caption>
<tr>
<td colspan=2  align="center" id="week">星期</td>
<td align="center" id="week">星期一</td>
<td align="center" id="week">星期二</td>
<td align="center" id="week">星期三</td>
<td align="center" id="week">星期四</td>
<td align="center" id="week">星期五</td>
<td align="center" id="week">星期六</td>
<td align="center" id="week">星期日</td>
<td rowspan=2 align="center" id="week">To do list</td>
</tr>
<tr id="date">
<td colspan=2 align=center id="week">日期</td>
<td align="center" id="week">9/10</td>
<td align="center" id="week">9/11</td>
<td align="center" id="week">9/12</td>
<td align="center" id="week">9/13</td>
<td align="center" id="week">9/14</td>
<td align="center" id="week">9/15</td>
<td align="center" id="week">9/16</td>
</tr>
<tr>
<td  rowspan=4  align=center id="dark1">上午</td>
<td  >第<br>1<br>节</td>
<td rowspan=2 align=center></td>
<td rowspan=2 align=center></td>
<td rowspan=2 align=center></td>
<td rowspan=2 align=center></td>
<td rowspan=2 align=center></td>
<td rowspan=2 align=center></td>
<td rowspan=2 align=center></td>
<td rowspan=2 align=center></td>
</tr>
<tr>
<td>第<br>2<br>节</td>
</tr>
<tr>
<td id="dark2">第<br>3<br>节</td>
<td rowspan=2 align=center id="dark2">软件体系结构<br>周一第3,4节{第1-12周}<br>林连南<br>A1501</td>
<td rowspan=2 align=center id="dark2">软件项目管理和质量工程<br>周二第3,4节{第1-16周}<br>左保河<br>A3202</td>
<td rowspan=2 align=center id="dark2">软件体系结构<br>周三第3,4节{第1-12周}<br>林连南<br>A1304</td>
<td rowspan=2 align=center id="dark2">软件项目管理和质量工程<br>周四第3,4节{第1-16周}<br>左保河<br>A2206</td>
<td rowspan=2 align=center id="dark2"></td>
<td rowspan=2 align=center id="dark2"></td>
<td rowspan=2 align=center id="dark2"></td>
<td rowspan=2 align=center id="dark2"></td>
</tr>
<tr>
<td id="dark2">第<br>4<br>节</td>
</tr>
<tr>
<td  rowspan=4 align=center id="dark1">下午</td>
<td >第<br>5<br>节</td>
<td rowspan=3 align=center>机器学习<br>周一第5,6节{第1-11周}<br>谭明奎<br>A2408</td>
<td rowspan=3 align=center>人工智能<br>周二第5,6节{第1-11周}<br>宋恒杰<br>A2303</td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
</tr>
<td >第<br>6<br>节</td>
</tr>
<td >第<br>7<br>节</td>
</tr>
<tr>
<td id="dark2">第<br>8<br>节</td>
<td align=center id="dark2"></td>
<td align=center id="dark2"></td>
<td align=center id="dark2"></td>
<td align=center id="dark2"></td>
<td align=center id="dark2"></td>
<td align=center id="dark2"></td>
<td align=center id="dark2"></td>
<td align=center id="dark2"></td>
</tr>
<tr>
<td rowspan=3  align=center id="dark1" style="border-radius: 0 0 0 12px">晚上</td>
<td >第<br>9<br>节</td>
<td rowspan=3 align=center>金融业务实务<br>周一第9,10,11节{第1-16周}<br>刘桂喜<br>A3202</td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center>数据仓库与数据挖掘<br>周二第9,10,11节{第2-8,10周}<br>蔡毅<br>A2302</td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center></td>
<td rowspan=3 align=center style="border-radius: 0 0 12px 0"></td>
</tr>
<tr>
<td >第<br>10<br>节</td>
</tr>
<tr>
<td >第<br>11<br>节</td>
</tr>
</tr>
</table>
</div>
</body>
</html>